<div class="project-container">
    <div class="file-explorer">
        <div class="explorer-header">
            <h3>Project Files</h3>
            <button class="icon-btn" id="refresh-files">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
        <div id="file-tree" class="file-tree"></div>
    </div>

    <div class="editor-container">
        <div class="editor-tabs" id="editor-tabs"></div>
        <div id="main-editor" class="code-editor" contenteditable="true"></div>
    </div>
</div>